<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <span>Jonatas Consultoria</span>
            <h1>A Consultoria que você busca para seu software.</h1>
        </div>
        <img ngSrc="./assets/image/png/principal.png" priority width="600" height="465">
    </section>

    <section class="benefits-section">
        <div class="benefit-data">
            <h2>
                95% das<br/>
                empresas
            </h2>
        </div>
        <p>Não sabem como lidar com problemas de <b>Escalibilidade</b> e grande volume de requisições.</p>
    </section>

    <section class="cta-section">
        <app-btn-primary btn-text="Fale com nossos especialistas"></app-btn-primary>
    </section>
</main>